:host {
  font-family: 'Courgette', cursive;
  background-color: #222;
  color: ivory;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

p {
  margin: 0;
}