<app-header></app-header>
<mat-card class="section section__inputs">
  <div class="input"></div>
  <div class="input"></div>
  <div class="input"></div>
  <div class="input"></div>
</mat-card>
<p>Skriv in lösenord</p>
<mat-card class="section section__numpad">
  <button mat-fab class="button">1</button>
  <button mat-fab class="button">2</button>
  <button mat-fab class="button">3</button>
  <button mat-fab class="button">4</button>
  <button mat-fab class="button">5</button>
  <button mat-fab class="button">6</button>
  <button mat-fab class="button">7</button>
  <button mat-fab class="button">8</button>
  <button mat-fab class="button">9</button>
  <button mat-fab class="button"><</button>
  <button mat-fab class="button">0</button>
  <button mat-fab class="button">></button>
</mat-card>
