<app-header></app-header>
<mat-card>
  <span *ngIf="room$ | async as room">Du är i rum: <strong>{{room.name}}</strong></span>
</mat-card>
<app-text-snippet>Skriv in en replik:</app-text-snippet>
<mat-card>
  <mat-form-field class="inputRoomName">
    <input matInput placeholder="En kul replik" [formControl]="line">
  </mat-form-field>
  <div>
    <button
      mat-raised-button
      class="section"
      (click)="submitLine()"
      [disabled]="!line.value"
    >
      Skicka
    </button>
  </div>
</mat-card>
