<app-header></app-header>

<mat-card class="section">
  <mat-form-field class="inputRoomName">
    <input matInput placeholder="Namn på Rum" [formControl]="roomName">
  </mat-form-field>
  <div
    class="response-container"
  >
    <mat-spinner
    *ngIf="pending === 'PENDING'"
    class="example-margin"
    [diameter]="20"
    color="accent"
    ></mat-spinner>
    <div class="response-container__text" *ngIf="pending === 'VALID'">Rummet är ledigt!</div>
    <div class="response-container__text" *ngIf="pending === 'INVALID'">Rummet är skapat!</div>
  </div>
</mat-card>

<p>Jag är en:</p>

<button
  [disabled]="pending !== 'VALID' || inputText.length === 0"
  mat-raised-button
  class="section"
>
  Rumskapare
</button>
<button
  [disabled]="pending !== 'INVALID' || inputText.length === 0"
  mat-raised-button
  class="section"
>
  Aktör
</button>
<button
  [disabled]="pending !== 'INVALID' || inputText.length === 0"
  mat-raised-button
  class="section"
>
  Publik
</button>

<app-footer></app-footer>
