:host {
  display: grid;
  grid-template-rows: auto 5fr auto 5fr 5fr 5fr auto;
  height: 100vh;
  background-color: ivory;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 4px 8px;
  background-color:#fefefe;

  .inputRoomName {
    text-align: center;
  }
}

.response-container {
  height: 20px;
  .response-container__text {
    font-size: 1.2rem;
    font-weight: 200;
    color: #009000;
  }
}

p {
  display: flex;
  justify-content: center;
  font-family: 'Courgette', cursive;
  font-size: 1.5rem;
  text-shadow: 2px 2px 0px #ddd;
}

@media (orientation: landscape) {
  :host {
    grid-template: auto 1fr auto 1fr auto / 1fr 1fr 1fr;
  }
  app-header {
    grid-row: 1;
    grid-column: 1 / 4;
  }
  .section__input {
    grid-row: 2;
    grid-column: 1 / 4;
    font-size: 18px;
  }
  p {
    grid-row: 3;
    grid-column: 1 / 4;
    margin: 0;
    padding: 4px;
  }
  app-footer {
    grid-row: 5;
    grid-column: 1 / 4;
  }

}
