<app-header></app-header>

<mat-card class="section section__input">
  <mat-form-field class="inputRoomName">
    <input matInput placeholder="Namn på Rum" [formControl]="roomName" (keyup)="setRoomName()">
  </mat-form-field>
  <div
    class="response-container"
  >
    <mat-spinner
    *ngIf="pending === 'PENDING'"
    class="example-margin"
    [diameter]="20"
    color="accent"
    ></mat-spinner>
    <div class="response-container__text" *ngIf="pending === 'VALID'">Rummet är ledigt!</div>
    <div class="response-container__text" *ngIf="pending === 'INVALID'">Rummet är skapat!</div>
  </div>
</mat-card>

<app-text-snippet>Jag är en:</app-text-snippet>

<button
  type="submit"
  [disabled]="!(pending === 'VALID' || (pending === 'INVALID' && creatorOfRoom)) || pending === 'PENDING' || inputText.length === 0"
  mat-raised-button
  class="section"
  (click)="goToRoomAdmin()"
>
  Rumskapare
</button>
<button
  [disabled]="pending !== 'INVALID' || inputText.length === 0"
  mat-raised-button
  class="section"
  (click)="goToActor()"
>
  Aktör
</button>
<button
  [disabled]="pending !== 'INVALID' || inputText.length === 0"
  mat-raised-button
  class="section"
  (click)="goToAudience()"
>
  Publik
</button>

<app-footer></app-footer>
