@import "variables";

html {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #fff;
}

body {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #fff;
  font-size: mat-font-size($wec-typography, body-1);
  font-family: mat-font-family($wec-typography);
  line-height: mat-line-height($wec-typography, body-1);
}

h1, h2, h3 {
  font-family: 'Courgette', cursive;
}

@import "material";
