<div>
  <form class="example-form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <!-- <label>
      Name of Room
      <input type="text" formControlName="roomName">
    </label>
    <label>
      Password
      <input type="text" formControlName="password">
    </label> -->
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Name of Room" formControlName="roomName">
    </mat-form-field>
    <!-- <mat-progress-spinner class="example-margin">
    </mat-progress-spinner> -->
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Password" formControlName="password">
    </mat-form-field>
    <button mat-button type="submit" [disabled]="!form.valid" (click)="submitRoom()">Submit</button>
  </form>
</div>
