<div>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <label>
      Name of Room
      <input type="text" formControlName="roomName">
    </label>
    <label>
      Password
      <input type="text" formControlName="password">
    </label>
    <button type="submit" [disabled]="!form.valid" (click)="onSubmit()">Submit</button>
  </form>
</div>

<!-- <div>
  <label>
    Enter name of Room:
    <input type="text" [formControl]="roomName">
  </label>

  <label>
    Enter a password
    <input type="password" [formControl]="password">
  </label>

  <button type="button" (click)="submitRoom()">Skicka</button>
</div> -->
