<app-header></app-header>
<mat-card class="section section__inputs">
  <div *ngFor="let p of passwordArray" class="input">{{p}}</div>
</mat-card>
<p>Skriv in lösenord</p>
<mat-card class="section section__numpad">
  <button mat-fab class="button button__1" (click)="inputDigit('1')">1</button>
  <button mat-fab class="button button__2" (click)="inputDigit('2')">2</button>
  <button mat-fab class="button button__3" (click)="inputDigit('3')">3</button>
  <button mat-fab class="button button__4" (click)="inputDigit('4')">4</button>
  <button mat-fab class="button button__5" (click)="inputDigit('5')">5</button>
  <button mat-fab class="button button__6" (click)="inputDigit('6')">6</button>
  <button mat-fab class="button button__7" (click)="inputDigit('7')">7</button>
  <button mat-fab class="button button__8" (click)="inputDigit('8')">8</button>
  <button mat-fab class="button button__9" (click)="inputDigit('9')">9</button>
  <button
    mat-fab
    class="button button__backspace"
    (click)="deleteDigit()"
  >
    <
  </button>
  <button mat-fab class="button button__0" (click)="inputDigit('0')">0</button>
  <button
    mat-fab
    class="button button__confirm"
    (click)="submitPassword()"
  >
    >
  </button>
</mat-card>
