<app-header></app-header>
<mat-card class="section section__inputs">
  <div class="input"></div>
  <div class="input"></div>
  <div class="input"></div>
  <div class="input"></div>
</mat-card>
<p>Skriv in lösenord</p>
<mat-card class="section section__numpad">
  <button mat-fab class="button button__1">1</button>
  <button mat-fab class="button button__2">2</button>
  <button mat-fab class="button button__3">3</button>
  <button mat-fab class="button button__4">4</button>
  <button mat-fab class="button button__5">5</button>
  <button mat-fab class="button button__6">6</button>
  <button mat-fab class="button button__7">7</button>
  <button mat-fab class="button button__8">8</button>
  <button mat-fab class="button button__9">9</button>
  <button
    mat-fab
    class="button button__backspace"
  >
    <
  </button>
  <button mat-fab class="button button__0">0</button>
  <button
    mat-fab
    class="button button__confirm"
    routerLink="/actor_lines"
  >
    >
  </button>
</mat-card>
