<app-header></app-header>
<mat-card class="section">
  <div class="section__info">
    <div class="room">Rum:</div>
    <div class="room-value">Amöban</div>
    <div class="password">Lösenord:</div>
    <div class="password-value">5555</div>
  </div>
</mat-card>
<app-text-snippet>Aktuella repliker:</app-text-snippet>
<mat-card class="section section__lines">
    <div class="section__lines__line">
      <div>Jag vill inte vara din kompis längre, och vet du att hemma på min gata i stan där bor det en, faktiskt</div>
      <fa-icon icon="cut"></fa-icon>
    </div>
    <div class="section__lines__line">
      <div>Jag vill inte vara din kompis längre</div>
      <fa-icon icon="cut"></fa-icon>
    </div>
    <div class="section__lines__line">
      <div>Jag vill inte vara din kompis längre</div>
      <fa-icon icon="cut"></fa-icon>
    </div>
    <div class="section__lines__line">
      <div>Jag vill inte vara din kompis längre</div>
      <fa-icon icon="cut"></fa-icon>
    </div>
    <div class="section__lines__line">
      <div>Jag vill inte vara din kompis längre</div>
      <fa-icon icon="cut"></fa-icon>
    </div>
    <div class="section__lines__line">
      <div>Jag vill inte vara din kompis längre</div>
      <fa-icon icon="cut"></fa-icon>
    </div>
    <div class="section__lines__line">
      <div>Jag vill inte vara din kompis längre</div>
      <fa-icon icon="cut"></fa-icon>
    </div>
    <div class="section__lines__line">
      <div>Jag vill inte vara din kompis längre</div>
      <fa-icon icon="cut"></fa-icon>
    </div>
    <div class="section__lines__line">
      <div>Jag vill inte vara din kompis längre</div>
      <fa-icon icon="cut"></fa-icon>
    </div>
    <div class="section__lines__line">
      <div>Jag vill inte vara din kompis längre</div>
      <fa-icon icon="cut"></fa-icon>
    </div>
    <div class="section__lines__line">
      <div>Jag vill inte vara din kompis längre</div>
      <fa-icon icon="cut"></fa-icon>
    </div>
    <div class="section__lines__line">
      <div>Jag vill inte vara din kompis längre</div>
      <fa-icon icon="cut"></fa-icon>
    </div>
    <div class="section__lines__line">
      <div>Jag vill inte vara din kompis längre</div>
      <fa-icon icon="cut"></fa-icon>
    </div>
    <div class="section__lines__line">
      <div>Jag vill inte vara din kompis längre</div>
      <fa-icon icon="cut"></fa-icon>
    </div>
    <div class="section__lines__line">
      <div>Jag vill inte vara din kompis längre</div>
      <fa-icon icon="cut"></fa-icon>
    </div>
</mat-card>
