:host {
  height: 100vh;
  display: grid;
  grid-template-rows: auto auto auto 1fr;
  background-color: ivory;
}

.section {
  margin: 8px;
  .section__info {
    display: grid;
    grid: auto auto / auto auto;
    grid-gap: 8px;
    .room,.password {
      justify-self: end;
      font-weight: 600;
    }
  }
}

.section__lines {
  overflow: scroll;
  .section__lines__line {
    display: grid;
    grid-template-columns: 1fr auto auto;
    grid-column-gap: 8px;
    border-bottom: 1px solid rgba(22, 22, 22, 0.5);
    fa-icon {
      align-self: center;
    }
  }
  .section__lines__line:not(:last-child) {
    margin-bottom: 8px;
  }
}

p {
  display: flex;
  justify-content: center;
  font-family: 'Courgette', cursive;
  font-size: 1.5rem;
  text-shadow: 2px 2px 0px #ddd;
}

@media (orientation: landscape) {
  .section {
    .section__info {
      grid: 1fr / 1fr 1fr 1fr 1fr;
    }
  }
  .section__lines {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2rem;
  }
  p {
    margin: 8px;
  }
}
