<app-header (mouseenter)="p()"></app-header>
<mat-card class="section">
  <div class="section__info" *ngIf="room$ | async as room">
    <div class="room">Rum:</div>
    <div class="room-value">{{room.name}}</div>
    <div class="password">Lösenord:</div>
    <div class="password-value">{{room.password}}</div>
  </div>
</mat-card>
<app-text-snippet>Aktuella repliker:</app-text-snippet>
<mat-card class="section section__lines">
    <div
      *ngFor="let line of lines$ | async"
      class="section__lines__line"
      [style.textDecoration]="line.used ? 'line-through' : 'none'"
    >
      <div>{{line.content}}</div>
      <fa-icon icon="times" [style.color]="line.used ? 'crimson' : '#222'"></fa-icon>
      <fa-icon icon="heart" [style.color]="line.liked ? 'lightgreen' : '#222'"></fa-icon>
    </div>
</mat-card>
