:host {
  height: 100vh;
  background-color: ivory;
  display: grid;
  grid-template-rows: auto 1fr;
}

.container {
  height: 100%;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.not-found-container {
  padding: 8px;
  font-size: 1.5rem;
}

.lines {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

.hidden-line {
  margin: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  color: #222;
  user-select: none;

  background-color: #222;
  transition: background-color 0.5s;
}

.hidden-line:focus {
  outline: none;
  background-color: white;
}