:host {
  height: 100vh;
  background-color: ivory;
  display: grid;
  grid-template-rows: auto 1fr;
}

.lines {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

mat-card {
  margin: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  color: #222;
  user-select: none;

  background-color: #222;
}

mat-card:active {
  background-color: white;
  animation: changeBackground 2s;
}

@keyframes changeBackground {
  from {background-color: #222;}
    to {background-color: white;}
}
